In [11]:
import pandas as pd

In [132]:
filename = './#dataset/5criminal_occur_arr/2001'
df = pd.read_csv(filename + '.csv', encoding='euc-kr')

In [133]:
df

     구분  죄종 발생검거    건수
0    중부  살인   발생     0
1    중부  살인   검거     0
2    중부  강도   발생    17
3    중부  강도   검거     6
4    중부  강간   발생    80
..   ..  ..  ...   ...
305  수서  강간   검거    43
306  수서  절도   발생  1665
307  수서  절도   검거   632
308  수서  폭력   발생  3164
309  수서  폭력   검거  2629

[310 rows x 4 columns]

In [134]:
df['date'] = '2001'

In [135]:
df.head()

   구분  죄종 발생검거  건수  date
0  중부  살인   발생   0  2001
1  중부  살인   검거   0  2001
2  중부  강도   발생  17  2001
3  중부  강도   검거   6  2001
4  중부  강간   발생  80  2001

In [136]:
df['date'] = pd.to_datetime(df['date'])

In [137]:
df.to_csv(filename+ '.csv', index=False)